@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.skillContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
}

.skillContainer__text
{
    color: white;
    flex: 0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
}

.skillContainer__h2
{
    font-size: 30px;
}

.skillContainer__image
{
    flex:0.4;
    text-align:center;
    margin-right: 100px;
}

.skillContainer__image> img
{
    width: 600px;
    object-fit: contain;
}

.skillContainer__skillSet > h5{
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: "Monserrat",sans-serif;
}

.skillContainer__slider> .MuiLinearProgress-colorPrimary
{
    background-color: grey;
}

.skillContainer__slider1 >div>.MuiLinearProgress-barColorPrimary
{
    background-color: rgb(218, 19, 19);
}
.skillContainer__slider2 >div>.MuiLinearProgress-barColorPrimary
{
    background-color: rgb(190, 90, 233);
}
.skillContainer__slider3 >div>.MuiLinearProgress-barColorPrimary
{
    background-color: rgb(1, 213, 68);
}
.skillContainer__slider4 >div>.MuiLinearProgress-barColorPrimary
{
    background-color: rgb(58, 47, 205);
}
.skillContainer__slider5 >div>.MuiLinearProgress-barColorPrimary
{
    background-color: rgb(255, 193, 60);
}